.buttonAdd {
    border: #eee 1px solid;
    /* box-shadow: 8px 5px 15px 0px rgba(46, 61, 73, 0.15); */
    transition: all 0.3s;
}

.buttonAdd:hover {
    background: #fafafa;
    border-left: #eee 5px solid;
    /* box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2); */
    transition: all 0.3s;
}