
.modal {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
}
.modal__textarea {
    height: 120px;
}
.modalOuterScreen {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7)
}